@import url('https://fonts.googleapis.com/css?family=Barlow:400,400i,700');

/* Estilos gerais */
body {
    font-family: 'Barlow', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Barlow', sans-serif;
}
button, html, input, select, textarea{
    font-family: 'Barlow', sans-serif;
}
h1{
  font-size: 39px;
}
h2{
  font-size: 31px;
}
h3{
  font-size: 25px;
}
h4{
  font-size: 20px;
}

p,span,ul,li{
  /* font-size:16px; */
  font-size: 1.3rem;
  line-height: 1.4;
}
small{
  font-size:12px;
}
a{
  color: #007BBA;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

img{
  max-width: 200px;
}