body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}
span{
  font-size:1rem !important;
}
.main{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: #1b2031;  
  padding-bottom: 10vh;
}
.sent{
  background: url('http://localhost:3000/sent.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.main h1{
  color: #fff;
  font-size:39px;
  margin-bottom: 56px;
  margin-top: 40px;  
}
.ui.form .field>label{
  color: #b2b9ca;  
}
.ui.form .field .ui.input input, .ui.form .fields .field .ui.input input{
  background: #242d49;
  padding: 16px;
  color: #fff;
  margin-bottom: 24px;
}
button.ui.fluid.primary.button {
  padding: 24px;
  border-radius: 8px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 40px;
  box-shadow: 1px 1px 32px #242d49;
}
.main .sixteen{
  padding:24px;
}
nav{
  position: fixed;
  bottom:0;
  left: 0;  
  background-color: #252d47;
  width: 100%;
}
nav ul{
  display: inline-flex;  
  align-items: center;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
nav ul li{
  padding: 16px;
  border-right: 1px solid #141825;
  width: 33%;
  text-align: center;
}
nav ul li:last-child{
  border-right: none;
}
nav ul li a{
  color: #fff;
  display: grid;
}
nav ul li a .icon{

}
nav ul li a .text{
  font-size:12px !important;
  font-weight: 100;
}
.content{
  padding: 32px;
  max-width: 79%;
}
.main-btn{
  padding: 16px 24px;
  background-color: #252d47;
  color: #fff;
  margin: 0 8px 0 0;
  border-radius: 40px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  width: 100%;
}
.upload-btn-wrapper svg{
  margin-right: 8px;
}
.upload-btn-wrapper span{
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.btn {
  border: 1px solid #fff;
  color: #fff;  
  background-color: #192031;
  padding: 16px 48px;  
  border-radius: 5px;  
  font-weight: bold;
  width: 100%;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.card{
  color: #fff;
  background-color: #141a2b;
  margin-bottom: 24px;
  border-radius: 8px;
  border: 1px solid #141825;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.card img{
  margin-right: 24px;
}